<div class="container">
  <div class="card" (click)="pickATopic()" *ngIf="state === State.TOPIC_PICKING">
    Pick a topic!
  </div>
  <div class="card" (click)="goToStructure()" *ngIf="state === State.TOPIC_PICKED">
    {{ topic }}
  </div>
  <div
    class="title"
    *ngIf="state === State.STRUCTURE_PICKING || state === State.STRUCTURE_PICKED"
  >
    {{ topic }}
  </div>

  <div class="card" (click)="pickAStructure()" *ngIf="state === State.STRUCTURE_PICKING">
    Pick a structure!
  </div>
  <div class="card" (click)="goToTimer()" *ngIf="state === State.STRUCTURE_PICKED">
    {{ structure }}
  </div>

  <div class="title" *ngIf="state === State.TIMING">{{ topic }}<br />{{ structure }}</div>

  <div class="timer" (click)="toggleTimer()" *ngIf="state === State.TIMING">
    <div class="time {{ timeColor }}">{{ clock$ | async | time }}</div>
    <button
      class="btn-naked done-button"
      *ngIf="state === State.TIMING && !counting && started"
      (click)="$event.stopPropagation(); done()"
    >
      Done
    </button>
  </div>
  <div class="hint">{{ hint }}</div>
</div>
